# Preprocessing PTV
- This notebook preprocesses the PTV data.
- The preprocessed datasets are exported into the `./data/raw` directory.

In [42]:
import sys, os
sys.path.append(os.path.abspath('../'))
from scripts.utils import create_dir, get_runtime
import time 
start_time = time.time()

import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

## Stops

### 1 - Regional Train

In [43]:
stop_1 = pd.read_csv("../data/landing/ptv/1/1/stops.txt")
stop_1

,stop_id,stop_name,stop_lat,stop_lon
0,17204,Wallan Railway Station (Wallan),-37.416861,145.005372
1,19980,Melton Railway Station (Melton South),-37.703359,144.572216
2,19981,Rockbank Railway Station (Rockbank),-37.729261,144.650631
3,19982,Deer Park Railway Station (Deer Park),-37.777764,144.772304
4,19998,Sunbury Railway Station (Sunbury),-37.579206,144.728165
...,...,...,...,...
105,49295,Raywood Railway Station (Raywood),-36.531959,144.201161
106,49296,Huntly Railway Station (Huntly),-36.665848,144.369820
107,49848,East Pakenham Railway Station (Pakenham),-38.084285,145.506314
108,51809,Goornong Railway Station (Goornong),-36.615183,144.503474
109,52011,Caroline Springs Railway Station (Ravenhall),-37.766145,144.735748

In [44]:
stop_1_filtered = stop_1[['stop_name', 'stop_lat', 'stop_lon']]
stop_1_filtered

                                        stop_name   stop_lat    stop_lon
0                 Wallan Railway Station (Wallan) -37.416861  145.005372
1           Melton Railway Station (Melton South) -37.703359  144.572216
2             Rockbank Railway Station (Rockbank) -37.729261  144.650631
3           Deer Park Railway Station (Deer Park) -37.777764  144.772304
4               Sunbury Railway Station (Sunbury) -37.579206  144.728165
..                                            ...        ...         ...
105             Raywood Railway Station (Raywood) -36.531959  144.201161
106               Huntly Railway Station (Huntly) -36.665848  144.369820
107      East Pakenham Railway Station (Pakenham) -38.084285  145.506314
108           Goornong Railway Station (Goornong) -36.615183  144.503474
109  Caroline Springs Railway Station (Ravenhall) -37.766145  144.735748

[110 rows x 3 columns]

In [45]:
# Create a geometry column based on the latitude and longitude
geometry = [Point(xy) for xy in zip(stop_1_filtered['stop_lon'], stop_1_filtered['stop_lat'])]

# Create a GeoDataFrame
stop_1_gdf = gpd.GeoDataFrame(stop_1_filtered, geometry=geometry)

# Set a coordinate reference system (CRS), for example, WGS84 (EPSG:4326)
stop_1_gdf.set_crs(epsg=4326, inplace=True)

# Display the GeoDataFrame
stop_1_gdf

,stop_name,stop_lat,stop_lon,geometry
0,Wallan Railway Station (Wallan),-37.416861,145.005372,POINT (145.00537 -37.41686)
1,Melton Railway Station (Melton South),-37.703359,144.572216,POINT (144.57222 -37.70336)
2,Rockbank Railway Station (Rockbank),-37.729261,144.650631,POINT (144.65063 -37.72926)
3,Deer Park Railway Station (Deer Park),-37.777764,144.772304,POINT (144.7723 -37.77776)
4,Sunbury Railway Station (Sunbury),-37.579206,144.728165,POINT (144.72816 -37.57921)
...,...,...,...,...
105,Raywood Railway Station (Raywood),-36.531959,144.201161,POINT (144.20116 -36.53196)
106,Huntly Railway Station (Huntly),-36.665848,144.369820,POINT (144.36982 -36.66585)
107,East Pakenham Railway Station (Pakenham),-38.084285,145.506314,POINT (145.50631 -38.08428)
108,Goornong Railway Station (Goornong),-36.615183,144.503474,POINT (144.50347 -36.61518)
109,Caroline Springs Railway Station (Ravenhall),-37.766145,144.735748,POINT (144.73575 -37.76614)

In [46]:
stops_1_sa2 = gpd.sjoin(stop_1_gdf, SA2, how="left", predicate="within")

# Display the result
stops_1_sa2

,stop_name,stop_lat,stop_lon,geometry,index_right,SA2_CODE21,SA2_NAME21
0,Wallan Railway Station (Wallan),-37.416861,145.005372,POINT (145.00537 -37.41686),890,209041224,Wallan
1,Melton Railway Station (Melton South),-37.703359,144.572216,POINT (144.57222 -37.70336),1078,213041578,Melton South - Weir Views
2,Rockbank Railway Station (Rockbank),-37.729261,144.650631,POINT (144.65063 -37.72926),1066,213041359,Rockbank - Mount Cottrell
3,Deer Park Railway Station (Deer Park),-37.777764,144.772304,POINT (144.7723 -37.77776),1050,213011569,Deer Park
4,Sunbury Railway Station (Sunbury),-37.579206,144.728165,POINT (144.72816 -37.57921),925,210041540,Sunbury - South
...,...,...,...,...,...,...,...
105,Raywood Railway Station (Raywood),-36.531959,144.201161,POINT (144.20116 -36.53196),677,202031032,Bendigo Surrounds - North
106,Huntly Railway Station (Huntly),-36.665848,144.369820,POINT (144.36982 -36.66585),677,202031032,Bendigo Surrounds - North
107,East Pakenham Railway Station (Pakenham),-38.084285,145.506314,POINT (145.50631 -38.08428),988,212011551,Pakenham - South East
108,Goornong Railway Station (Goornong),-36.615183,144.503474,POINT (144.50347 -36.61518),677,202031032,Bendigo Surrounds - North
109,Caroline Springs Railway Station (Ravenhall),-37.766145,144.735748,POINT (144.73575 -37.76614),1066,213041359,Rockbank - Mount Cottrell

In [47]:
create_dir('../data/raw/PTV/1 - Regional Train')
stops_1_sa2.to_csv('../data/raw/PTV/1 - Regional Train/stops_1_sa2.csv', index=False)

Created directory: ../data/raw/PTV/1 - Regional Train

### 2 - Metropolitan Train

In [48]:
stop_2 = pd.read_csv("../data/landing/ptv/2/2/stops.txt")
stop_2

,stop_id,stop_name,stop_lat,stop_lon
0,15351,Sunbury Railway Station (Sunbury),-37.579091,144.727319
1,15353,Diggers Rest Railway Station (Diggers Rest),-37.627017,144.719922
2,19827,Stony Point Railway Station (Crib Point),-38.374235,145.221837
3,19828,Crib Point Railway Station (Crib Point),-38.366123,145.204043
4,19829,Morradoo Railway Station (Crib Point),-38.354033,145.189602
...,...,...,...,...
217,49458,East Pakenham Railway Station (Pakenham),-38.084285,145.506314
218,52095,Southland Railway Station (Cheltenham),-37.958756,145.049121
219,52159,Middle Gorge Railway Station (South Morang),-37.644061,145.092144
220,52160,Hawkstowe Railway Station (South Morang),-37.622995,145.097396
221,52161,Mernda Railway Station (Mernda),-37.602548,145.100885

In [49]:
stop_2_filtered = stop_2[['stop_name', 'stop_lat', 'stop_lon']]
stop_2_filtered

                                       stop_name   stop_lat    stop_lon
0              Sunbury Railway Station (Sunbury) -37.579091  144.727319
1    Diggers Rest Railway Station (Diggers Rest) -37.627017  144.719922
2       Stony Point Railway Station (Crib Point) -38.374235  145.221837
3        Crib Point Railway Station (Crib Point) -38.366123  145.204043
4          Morradoo Railway Station (Crib Point) -38.354033  145.189602
..                                           ...        ...         ...
217     East Pakenham Railway Station (Pakenham) -38.084285  145.506314
218       Southland Railway Station (Cheltenham) -37.958756  145.049121
219  Middle Gorge Railway Station (South Morang) -37.644061  145.092144
220     Hawkstowe Railway Station (South Morang) -37.622995  145.097396
221              Mernda Railway Station (Mernda) -37.602548  145.100885

[222 rows x 3 columns]

In [50]:
# Create a geometry column based on the latitude and longitude
geometry = [Point(xy) for xy in zip(stop_2_filtered['stop_lon'], stop_2_filtered['stop_lat'])]

# Create a GeoDataFrame
stop_2_gdf = gpd.GeoDataFrame(stop_2_filtered, geometry=geometry)

# Set a coordinate reference system (CRS), for example, WGS84 (EPSG:4326)
stop_2_gdf.set_crs(epsg=4326, inplace=True)

# Display the GeoDataFrame
stop_2_gdf

,stop_name,stop_lat,stop_lon,geometry
0,Sunbury Railway Station (Sunbury),-37.579091,144.727319,POINT (144.72732 -37.57909)
1,Diggers Rest Railway Station (Diggers Rest),-37.627017,144.719922,POINT (144.71992 -37.62702)
2,Stony Point Railway Station (Crib Point),-38.374235,145.221837,POINT (145.22184 -38.37423)
3,Crib Point Railway Station (Crib Point),-38.366123,145.204043,POINT (145.20404 -38.36612)
4,Morradoo Railway Station (Crib Point),-38.354033,145.189602,POINT (145.1896 -38.35403)
...,...,...,...,...
217,East Pakenham Railway Station (Pakenham),-38.084285,145.506314,POINT (145.50631 -38.08428)
218,Southland Railway Station (Cheltenham),-37.958756,145.049121,POINT (145.04912 -37.95876)
219,Middle Gorge Railway Station (South Morang),-37.644061,145.092144,POINT (145.09214 -37.64406)
220,Hawkstowe Railway Station (South Morang),-37.622995,145.097396,POINT (145.0974 -37.62299)
221,Mernda Railway Station (Mernda),-37.602548,145.100885,POINT (145.10088 -37.60255)

SA2

In [51]:
SA2 = gpd.read_file("../data/landing/sa2/sa2-21-shp/SA2_2021_AUST_GDA2020.shp")
SA2 = SA2[["SA2_CODE21", "SA2_NAME21", "geometry"]]
SA2.crs = 'EPSG: 4326'

In [52]:
stops_2_sa2 = gpd.sjoin(stop_2_gdf, SA2, how="left", predicate="within")

# Display the result
stops_2_sa2

,stop_name,stop_lat,stop_lon,geometry,index_right,SA2_CODE21,SA2_NAME21
0,Sunbury Railway Station (Sunbury),-37.579091,144.727319,POINT (144.72732 -37.57909),925,210041540,Sunbury - South
1,Diggers Rest Railway Station (Diggers Rest),-37.627017,144.719922,POINT (144.71992 -37.62702),924,210041539,Diggers Rest
2,Stony Point Railway Station (Crib Point),-38.374235,145.221837,POINT (145.22184 -38.37423),1108,214021379,Hastings - Somers
3,Crib Point Railway Station (Crib Point),-38.366123,145.204043,POINT (145.20404 -38.36612),1108,214021379,Hastings - Somers
4,Morradoo Railway Station (Crib Point),-38.354033,145.189602,POINT (145.1896 -38.35403),1108,214021379,Hastings - Somers
...,...,...,...,...,...,...,...
217,East Pakenham Railway Station (Pakenham),-38.084285,145.506314,POINT (145.50631 -38.08428),988,212011551,Pakenham - South East
218,Southland Railway Station (Cheltenham),-37.958756,145.049121,POINT (145.04912 -37.95876),854,208031188,Highett (East) - Cheltenham
219,Middle Gorge Railway Station (South Morang),-37.644061,145.092144,POINT (145.09214 -37.64406),896,209041436,South Morang - South
220,Hawkstowe Railway Station (South Morang),-37.622995,145.097396,POINT (145.0974 -37.62299),895,209041435,South Morang - North
221,Mernda Railway Station (Mernda),-37.602548,145.100885,POINT (145.10088 -37.60255),903,209041532,Mernda - South

#### Push Stops_2_sa2 to `raw` layer

In [53]:
create_dir('../data/raw/PTV/2 - Metropolitan Train')
stops_2_sa2.to_csv('../data/raw/PTV/2 - Metropolitan Train/stops_2_sa2.csv', index=False)

Created directory: ../data/raw/PTV/2 - Metropolitan Train

### 3 - Metropolitan Tram

In [54]:
stop_3 = pd.read_csv("../data/landing/ptv/3/3/stops.txt")
# stop_3

In [55]:
stop_3_filtered = stop_3[['stop_name', 'stop_lat', 'stop_lon']]
stop_3_filtered

                                            stop_name   stop_lat    stop_lon
0            45-Glenferrie Rd/Wattletree Rd (Malvern) -37.862455  145.028508
1            44-Duncraig Ave/Wattletree Rd (Armadale) -37.862069  145.025382
2                42-Clyde St/Raleigh Rd (Maribyrnong) -37.769699  144.898841
3              43-Egerton Rd/Wattletree Rd (Armadale) -37.861710  145.022754
4          50-Vincent St/Wattletree Rd (Malvern East) -37.864226  145.043375
...                                               ...        ...         ...
1620           46-Nicholls St/Wattletree Rd (Malvern) -37.862658  145.030958
1621      47-Cabrini Hospital/Wattletree Rd (Malvern) -37.862960  145.033394
1622              48-Dixon St/Wattletree Rd (Malvern) -37.863393  145.036634
1623      49-Tooronga Rd/Wattletree Rd (Malvern East) -37.863827  145.039987
1624  41-Maribyrnong Park/Maribyrnong Rd (Ascot Vale) -37.770080  144.902055

[1625 rows x 3 columns]

In [56]:
# Create a geometry column based on the latitude and longitude
geometry = [Point(xy) for xy in zip(stop_3_filtered['stop_lon'], stop_3_filtered['stop_lat'])]

# Create a GeoDataFrame
stop_3_gdf = gpd.GeoDataFrame(stop_3_filtered, geometry=geometry)

# Set a coordinate reference system (CRS), for example, WGS84 (EPSG:4326)
stop_3_gdf.set_crs(epsg=4326, inplace=True)

# Display the GeoDataFrame
stop_3_gdf

,stop_name,stop_lat,stop_lon,geometry
0,45-Glenferrie Rd/Wattletree Rd (Malvern),-37.862455,145.028508,POINT (145.02851 -37.86246)
1,44-Duncraig Ave/Wattletree Rd (Armadale),-37.862069,145.025382,POINT (145.02538 -37.86207)
2,42-Clyde St/Raleigh Rd (Maribyrnong),-37.769699,144.898841,POINT (144.89884 -37.7697)
3,43-Egerton Rd/Wattletree Rd (Armadale),-37.861710,145.022754,POINT (145.02275 -37.86171)
4,50-Vincent St/Wattletree Rd (Malvern East),-37.864226,145.043375,POINT (145.04338 -37.86423)
...,...,...,...,...
1620,46-Nicholls St/Wattletree Rd (Malvern),-37.862658,145.030958,POINT (145.03096 -37.86266)
1621,47-Cabrini Hospital/Wattletree Rd (Malvern),-37.862960,145.033394,POINT (145.03339 -37.86296)
1622,48-Dixon St/Wattletree Rd (Malvern),-37.863393,145.036634,POINT (145.03663 -37.86339)
1623,49-Tooronga Rd/Wattletree Rd (Malvern East),-37.863827,145.039987,POINT (145.03999 -37.86383)
1624,41-Maribyrnong Park/Maribyrnong Rd (Ascot Vale),-37.770080,144.902055,POINT (144.90205 -37.77008)

In [57]:
stops_3_sa2 = gpd.sjoin(stop_3_gdf, SA2, how="left", predicate="within")

# Display the result
stops_3_sa2

,stop_name,stop_lat,stop_lon,geometry,index_right,SA2_CODE21,SA2_NAME21
0,45-Glenferrie Rd/Wattletree Rd (Malvern),-37.862455,145.028508,POINT (145.02851 -37.86246),860,208041194,Malvern - Glen Iris
1,44-Duncraig Ave/Wattletree Rd (Armadale),-37.862069,145.025382,POINT (145.02538 -37.86207),795,206061135,Armadale
2,42-Clyde St/Raleigh Rd (Maribyrnong),-37.769699,144.898841,POINT (144.89884 -37.7697),1060,213031349,Maribyrnong
3,43-Egerton Rd/Wattletree Rd (Armadale),-37.861710,145.022754,POINT (145.02275 -37.86171),795,206061135,Armadale
4,50-Vincent St/Wattletree Rd (Malvern East),-37.864226,145.043375,POINT (145.04338 -37.86423),860,208041194,Malvern - Glen Iris
...,...,...,...,...,...,...,...
1620,46-Nicholls St/Wattletree Rd (Malvern),-37.862658,145.030958,POINT (145.03096 -37.86266),860,208041194,Malvern - Glen Iris
1621,47-Cabrini Hospital/Wattletree Rd (Malvern),-37.862960,145.033394,POINT (145.03339 -37.86296),860,208041194,Malvern - Glen Iris
1622,48-Dixon St/Wattletree Rd (Malvern),-37.863393,145.036634,POINT (145.03663 -37.86339),860,208041194,Malvern - Glen Iris
1623,49-Tooronga Rd/Wattletree Rd (Malvern East),-37.863827,145.039987,POINT (145.03999 -37.86383),860,208041194,Malvern - Glen Iris
1624,41-Maribyrnong Park/Maribyrnong Rd (Ascot Vale),-37.770080,144.902055,POINT (144.90205 -37.77008),768,206031116,Moonee Ponds

#### Push Stops_3_sa2 to `raw` layer

In [58]:
create_dir('../data/raw/PTV/3 - Metropolitan Tram')
stops_3_sa2.to_csv('../data/raw/PTV/3 - Metropolitan Tram/stops_3_sa2.csv', index=False)

Created directory: ../data/raw/PTV/3 - Metropolitan Tram

### 4 - Metropolitan Bus

In [59]:
stop_4 = pd.read_csv("../data/landing/ptv/4/4/stops.txt")
# stop_4

In [60]:
stop_4_filtered = stop_4[['stop_name', 'stop_lat', 'stop_lon']]
stop_4_filtered

                                        stop_name   stop_lat    stop_lon
0                 Dole Ave/Cheddar Rd (Reservoir) -37.700775  145.018951
1                  Rex St/Taylors Rd (Kings Park) -37.726975  144.776152
2                Yuille St/Centenary Ave (Melton) -37.676160  144.595789
3                 Gum Rd/Main Rd West (Albanvale) -37.741497  144.775899
4                Lloyd Ave/Cheddar Rd (Reservoir) -37.699183  145.019685
...                                           ...        ...         ...
18617                 Donald St/Wood St (Preston) -37.735366  145.022375
18618               Highview Rd/Wood St (Preston) -37.735117  145.019886
18619                 Plenty Rd/Wood St (Preston) -37.734193  145.013681
18620      Yellow Gum Rd/Copperfield Dr (Delahey) -37.713855  144.771894
18621  Carberry Dr/Gisborne-Melton Rd (Kurunjang) -37.672455  144.598392

[18622 rows x 3 columns]

In [61]:
# Create a geometry column based on the latitude and longitude
geometry = [Point(xy) for xy in zip(stop_4_filtered['stop_lon'], stop_4_filtered['stop_lat'])]

# Create a GeoDataFrame
stop_4_gdf = gpd.GeoDataFrame(stop_4_filtered, geometry=geometry)

# Set a coordinate reference system (CRS), for example, WGS84 (EPSG:4326)
stop_4_gdf.set_crs(epsg=4326, inplace=True)

# Display the GeoDataFrame
stop_4_gdf

,stop_name,stop_lat,stop_lon,geometry
0,Dole Ave/Cheddar Rd (Reservoir),-37.700775,145.018951,POINT (145.01895 -37.70077)
1,Rex St/Taylors Rd (Kings Park),-37.726975,144.776152,POINT (144.77615 -37.72698)
2,Yuille St/Centenary Ave (Melton),-37.676160,144.595789,POINT (144.59579 -37.67616)
3,Gum Rd/Main Rd West (Albanvale),-37.741497,144.775899,POINT (144.7759 -37.7415)
4,Lloyd Ave/Cheddar Rd (Reservoir),-37.699183,145.019685,POINT (145.01969 -37.69918)
...,...,...,...,...
18617,Donald St/Wood St (Preston),-37.735366,145.022375,POINT (145.02238 -37.73537)
18618,Highview Rd/Wood St (Preston),-37.735117,145.019886,POINT (145.01989 -37.73512)
18619,Plenty Rd/Wood St (Preston),-37.734193,145.013681,POINT (145.01368 -37.73419)
18620,Yellow Gum Rd/Copperfield Dr (Delahey),-37.713855,144.771894,POINT (144.77189 -37.71385)
18621,Carberry Dr/Gisborne-Melton Rd (Kurunjang),-37.672455,144.598392,POINT (144.59839 -37.67245)

In [62]:
stops_4_sa2 = gpd.sjoin(stop_4_gdf, SA2, how="left", predicate="within")

# Display the result
stops_4_sa2

,stop_name,stop_lat,stop_lon,geometry,index_right,SA2_CODE21,SA2_NAME21
0,Dole Ave/Cheddar Rd (Reservoir),-37.700775,145.018951,POINT (145.01895 -37.70077),874,209021523,Reservoir - North East
1,Rex St/Taylors Rd (Kings Park),-37.726975,144.776152,POINT (144.77615 -37.72698),1042,213011333,Kings Park (Vic.)
2,Yuille St/Centenary Ave (Melton),-37.676160,144.595789,POINT (144.59579 -37.67616),1077,213041577,Melton
3,Gum Rd/Main Rd West (Albanvale),-37.741497,144.775899,POINT (144.7759 -37.7415),1042,213011333,Kings Park (Vic.)
4,Lloyd Ave/Cheddar Rd (Reservoir),-37.699183,145.019685,POINT (145.01969 -37.69918),874,209021523,Reservoir - North East
...,...,...,...,...,...,...,...
18617,Donald St/Wood St (Preston),-37.735366,145.022375,POINT (145.02238 -37.73537),872,209021428,Preston - East
18618,Highview Rd/Wood St (Preston),-37.735117,145.019886,POINT (145.01989 -37.73512),872,209021428,Preston - East
18619,Plenty Rd/Wood St (Preston),-37.734193,145.013681,POINT (145.01368 -37.73419),872,209021428,Preston - East
18620,Yellow Gum Rd/Copperfield Dr (Delahey),-37.713855,144.771894,POINT (144.77189 -37.71385),1040,213011331,Delahey
18621,Carberry Dr/Gisborne-Melton Rd (Kurunjang),-37.672455,144.598392,POINT (144.59839 -37.67245),1076,213041576,Kurunjang - Toolern Vale

#### Push Stops_4_sa2 to `raw` layer

In [63]:
create_dir('../data/raw/PTV/4 - Metropolitan Bus')
stops_4_sa2.to_csv('../data/raw/PTV/4 - Metropolitan Bus/stops_4_sa2.csv', index=False)

Created directory: ../data/raw/PTV/4 - Metropolitan Bus

### 5 - Regional Coach

In [64]:
stop_5 = pd.read_csv("../data/landing/ptv/5/5/stops.txt")
# stop_5

In [65]:
stop_5_filtered = stop_5[['stop_name', 'stop_lat', 'stop_lon']]
stop_5_filtered

                                             stop_name   stop_lat    stop_lon
0                    Dorset Rd/Maroondah Hwy (Croydon) -37.771364  145.294757
1              Exeter Rd/Maroondah Hwy (Croydon North) -37.770446  145.295459
2                       Yendon Rd/Harbours Rd (Yendon) -37.636600  143.972314
3                       Yendon Rd/Harbours Rd (Yendon) -37.636493  143.972352
4                      Hudson Park/Sydney St (Kilmore) -37.294952  144.951708
..                                                 ...        ...         ...
884                   Walnut St/Church St (Whittlesea) -37.512457  145.118082
885               Eastland SC/Warrandyte Rd (Ringwood) -37.812460  145.230652
886  Ballarat Railway Station/Lydiard St (Ballarat ... -37.558656  143.858761
887        Eaglesons Rd/Clarendon-Lal Lal Rd (Lal Lal) -37.675414  144.012510
888        Eaglesons Rd/Clarendon-Lal Lal Rd (Lal Lal) -37.675561  144.012254

[889 rows x 3 columns]

In [66]:
# Create a geometry column based on the latitude and longitude
geometry = [Point(xy) for xy in zip(stop_5_filtered['stop_lon'], stop_5_filtered['stop_lat'])]

# Create a GeoDataFrame
stop_5_gdf = gpd.GeoDataFrame(stop_5_filtered, geometry=geometry)

# Set a coordinate reference system (CRS), for example, WGS84 (EPSG:4326)
stop_5_gdf.set_crs(epsg=4326, inplace=True)

# Display the GeoDataFrame
stop_5_gdf

,stop_name,stop_lat,stop_lon,geometry
0,Dorset Rd/Maroondah Hwy (Croydon),-37.771364,145.294757,POINT (145.29476 -37.77136)
1,Exeter Rd/Maroondah Hwy (Croydon North),-37.770446,145.295459,POINT (145.29546 -37.77045)
2,Yendon Rd/Harbours Rd (Yendon),-37.636600,143.972314,POINT (143.97231 -37.6366)
3,Yendon Rd/Harbours Rd (Yendon),-37.636493,143.972352,POINT (143.97235 -37.63649)
4,Hudson Park/Sydney St (Kilmore),-37.294952,144.951708,POINT (144.95171 -37.29495)
...,...,...,...,...
884,Walnut St/Church St (Whittlesea),-37.512457,145.118082,POINT (145.11808 -37.51246)
885,Eastland SC/Warrandyte Rd (Ringwood),-37.812460,145.230652,POINT (145.23065 -37.81246)
886,Ballarat Railway Station/Lydiard St (Ballarat ...,-37.558656,143.858761,POINT (143.85876 -37.55866)
887,Eaglesons Rd/Clarendon-Lal Lal Rd (Lal Lal),-37.675414,144.012510,POINT (144.01251 -37.67541)
888,Eaglesons Rd/Clarendon-Lal Lal Rd (Lal Lal),-37.675561,144.012254,POINT (144.01225 -37.67556)

In [67]:
stops_5_sa2 = gpd.sjoin(stop_5_gdf, SA2, how="left", predicate="within")

# Display the result
stops_5_sa2

,stop_name,stop_lat,stop_lon,geometry,index_right,SA2_CODE21,SA2_NAME21
0,Dorset Rd/Maroondah Hwy (Croydon),-37.771364,145.294757,POINT (145.29476 -37.77136),962,211031451,Croydon - West
1,Exeter Rd/Maroondah Hwy (Croydon North),-37.770446,145.295459,POINT (145.29546 -37.77045),957,211031265,Croydon Hills - Warranwood
2,Yendon Rd/Harbours Rd (Yendon),-37.636600,143.972314,POINT (143.97231 -37.6366),657,201021012,Gordon (Vic.)
3,Yendon Rd/Harbours Rd (Yendon),-37.636493,143.972352,POINT (143.97235 -37.63649),657,201021012,Gordon (Vic.)
4,Hudson Park/Sydney St (Kilmore),-37.294952,144.951708,POINT (144.95171 -37.29495),704,204011056,Kilmore - Broadford
...,...,...,...,...,...,...,...
884,Walnut St/Church St (Whittlesea),-37.512457,145.118082,POINT (145.11808 -37.51246),891,209041225,Whittlesea
885,Eastland SC/Warrandyte Rd (Ringwood),-37.812460,145.230652,POINT (145.23065 -37.81246),958,211031266,Ringwood
886,Ballarat Railway Station/Lydiard St (Ballarat ...,-37.558656,143.858761,POINT (143.85876 -37.55866),651,201011482,Ballarat North - Invermay
887,Eaglesons Rd/Clarendon-Lal Lal Rd (Lal Lal),-37.675414,144.012510,POINT (144.01251 -37.67541),657,201021012,Gordon (Vic.)
888,Eaglesons Rd/Clarendon-Lal Lal Rd (Lal Lal),-37.675561,144.012254,POINT (144.01225 -37.67556),657,201021012,Gordon (Vic.)

In [68]:
create_dir('../data/raw/PTV/5 - Regional Coach')
stops_5_sa2.to_csv('../data/raw/PTV/5 - Regional Coach/stops_5_sa2.csv', index=False)

Created directory: ../data/raw/PTV/5 - Regional Coach

### 6 - Regional Bus

In [69]:
stop_6 = pd.read_csv("../data/landing/ptv/6/6/stops.txt")
# stop_6

In [70]:
stop_6_filtered = stop_6[['stop_name', 'stop_lat', 'stop_lon']]
stop_6_filtered

                                              stop_name   stop_lat    stop_lon
0                   Lakeside Bvd/Princes Hwy (Pakenham) -38.062348  145.456709
1                       Hudson Park/Sydney St (Kilmore) -37.294952  144.951708
2                       Hudson Park/Sydney St (Kilmore) -37.295707  144.952093
3                          High St/Main Rd (Lancefield) -37.278118  144.736607
4                          High St/Main Rd (Lancefield) -37.278050  144.736812
...                                                 ...        ...         ...
6851                  Memorial Dr/Sago Hill Rd (Haddon) -37.589701  143.720646
6852                     Bloomfield Rd/Queen St (Nilma) -38.169784  145.967323
6853           Armstrong St/Sturt St (Ballarat Central) -37.561515  143.855823
6854                 Harrison St/Marengo Crst (Marengo) -38.777123  143.663226
6855  Ballarat Railway Station/Lydiard St (Ballarat ... -37.558656  143.858761

[6856 rows x 3 columns]

In [71]:
# Create a geometry column based on the latitude and longitude
geometry = [Point(xy) for xy in zip(stop_6_filtered['stop_lon'], stop_6_filtered['stop_lat'])]

# Create a GeoDataFrame
stop_6_gdf = gpd.GeoDataFrame(stop_6_filtered, geometry=geometry)

# Set a coordinate reference system (CRS), for example, WGS84 (EPSG:4326)
stop_6_gdf.set_crs(epsg=4326, inplace=True)

# Display the GeoDataFrame
stop_6_gdf

,stop_name,stop_lat,stop_lon,geometry
0,Lakeside Bvd/Princes Hwy (Pakenham),-38.062348,145.456709,POINT (145.45671 -38.06235)
1,Hudson Park/Sydney St (Kilmore),-37.294952,144.951708,POINT (144.95171 -37.29495)
2,Hudson Park/Sydney St (Kilmore),-37.295707,144.952093,POINT (144.95209 -37.29571)
3,High St/Main Rd (Lancefield),-37.278118,144.736607,POINT (144.73661 -37.27812)
4,High St/Main Rd (Lancefield),-37.278050,144.736812,POINT (144.73681 -37.27805)
...,...,...,...,...
6851,Memorial Dr/Sago Hill Rd (Haddon),-37.589701,143.720646,POINT (143.72065 -37.5897)
6852,Bloomfield Rd/Queen St (Nilma),-38.169784,145.967323,POINT (145.96732 -38.16978)
6853,Armstrong St/Sturt St (Ballarat Central),-37.561515,143.855823,POINT (143.85582 -37.56151)
6854,Harrison St/Marengo Crst (Marengo),-38.777123,143.663226,POINT (143.66323 -38.77712)
6855,Ballarat Railway Station/Lydiard St (Ballarat ...,-37.558656,143.858761,POINT (143.85876 -37.55866)

In [72]:
stops_6_sa2 = gpd.sjoin(stop_6_gdf, SA2, how="left", predicate="within")

# Display the result
stops_6_sa2

,stop_name,stop_lat,stop_lon,geometry,index_right,SA2_CODE21,SA2_NAME21
0,Lakeside Bvd/Princes Hwy (Pakenham),-38.062348,145.456709,POINT (145.45671 -38.06235),989,212011552,Pakenham - South West
1,Hudson Park/Sydney St (Kilmore),-37.294952,144.951708,POINT (144.95171 -37.29495),704,204011056,Kilmore - Broadford
2,Hudson Park/Sydney St (Kilmore),-37.295707,144.952093,POINT (144.95209 -37.29571),704,204011056,Kilmore - Broadford
3,High St/Main Rd (Lancefield),-37.278118,144.736607,POINT (144.73661 -37.27812),914,210021235,Romsey
4,High St/Main Rd (Lancefield),-37.278050,144.736812,POINT (144.73681 -37.27805),914,210021235,Romsey
...,...,...,...,...,...,...,...
6851,Memorial Dr/Sago Hill Rd (Haddon),-37.589701,143.720646,POINT (143.72065 -37.5897),648,201011007,Smythes Creek
6852,Bloomfield Rd/Queen St (Nilma),-38.169784,145.967323,POINT (145.96732 -38.16978),728,205011079,Warragul
6853,Armstrong St/Sturt St (Ballarat Central),-37.561515,143.855823,POINT (143.85582 -37.56151),645,201011002,Ballarat
6854,Harrison St/Marengo Crst (Marengo),-38.777123,143.663226,POINT (143.66323 -38.77712),1161,217031476,Otway
6855,Ballarat Railway Station/Lydiard St (Ballarat ...,-37.558656,143.858761,POINT (143.85876 -37.55866),651,201011482,Ballarat North - Invermay

In [73]:
create_dir('../data/raw/PTV/6 - Regional Bus')
stops_6_sa2.to_csv('../data/raw/PTV/6 - Regional Bus/stops_6_sa2.csv', index=False)

Created directory: ../data/raw/PTV/6 - Regional Bus